.hero {
  background: url('../img/hero_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 322px;
  padding-bottom: 231px;

  @include mobile {
    padding-bottom: 322px;
  }


  &__content {

    max-width: 556px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-family: 'Tinos';
    font-size: 50px;
    font-weight: 400;
    line-height: 57px;
    color: var(--brandyPunch);
    margin-bottom: 5px;

    @include mobile {
      font-size: 30px;
      line-height: 34px;
      text-align: center;
    }

    &--small {
      padding-left: 24px;

      @include mobile {
        padding-left: 0px;
      }
    }

    &--big {
      font-size: 80px;
      line-height: 92px;
      padding-right: 56px;

      @include mobile {
        font-size: 40px;
        text-align: center;
        line-height: 46px;
        padding-right: 0px;
      }
    }
  }

  &__descr {
    position: relative;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: var(--light);
    text-align: center;
    padding-right: 37px;
    margin-bottom: 21px;

    @include mobile {
      font-size: 15px;
      line-height: 20px;
      padding-right: 0px;
    }

    &::after {
      content: '';
      position: absolute;
      left: -33.5%;
      top: 48%;
      transform: translateY(-50%);
      width: 61px;
      height: 2px;
      background-color: #c4c4c4;

      @include mobile {
        display: none;
      }
    }

    &::before {
      content: '';
      position: absolute;
      right: -16%;
      top: 50%;
      transform: translateY(-50%);
      width: 61px;
      height: 2px;
      background-color: #c4c4c4;

      @include mobile {
        display: none;
      }
    }
  }

  &__btn {
    margin-right: 36px;
    width: 137px;

    @include mobile {
      margin-right: 0px;
    }
  }
}

.container {}

.btn-reset {}

.btn {}
