<section class="dishes">
  <div class="container">
    <h2 class="dishes__title title">Наши <span>Блюда</span></h2>

    <div class="dishes__box">
      <div class="dishes__left">
        <img src="img/dishes-img-big.svg" alt="Пицца!">
      </div>
      <div class="dishes__right">
        <div class="dishes__right-item">
          <img src="img/dishes-img_01.svg" alt="Гамбургер">
          <div class="dishes__right-caption">
            <span>Гамбургер мини</span>
            <span>220 ₽</span>
          </div>
        </div>
        <div class="dishes__right-item">
          <img src="img/dishes-img_01.svg" alt="Гамбургер">
          <div class="dishes__right-caption">
            <span>Гамбургер мини</span>
            <span>220 ₽</span>
          </div>

        </div>
        <div class="dishes__right-item">
          <img src="img/dishes-img_01.svg" alt="Гамбургер">
          <div class="dishes__right-caption">
            <span>Гамбургер мини</span>
            <span>220 ₽</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
