<section class="galery">
  <div class="container">
    <h2 class="galery__title title">Галерея <span>Блюд</span></h2>

    <div class="galery__box">
      <div class="galery__item">
        <img src="img/galery_01.svg" alt="">
      </div>
      <div class="galery__item galery__item--special">
        <img src="img/galery_07.svg" alt="">
      </div>
      <div class="galery__item">
        <img src="img/galery_02.svg" alt="">
      </div>
      <div class="galery__item">
        <img src="img/galery_03.svg" alt="">
      </div>
      <div class="galery__item">
        <img src="img/galery_02.svg" alt="">
      </div>
      <div class="galery__item">
        <img src="img/galery_03.svg" alt="">
      </div>
      <div class="galery__item galery__item--special">
        <img src="img/galery_07.svg" alt="">
      </div>
      <div class="galery__item">
        <img src="img/galery_01.svg" alt="">
      </div>
    </div>
  </div>
</section>
