<section class="history" id="about">

  <div class="container history__container">
    <div class="history__content">
      <h2 class="history__title title">Наша <span>История</span></h2>
      <div class="history__descr">
        <p>
          Как и у любого другого самобытного места, у нас есть своя, особая история. Идея ресторана пришла основателям
          неожиданно. Во время прогулки по лесу создатель нашего ресторана застрял в сотнях километров от ближайшего
          населенного пункта. Вдали от цивилизации и связи им пришлось навремя обустровать себе нехитрый быт, добывать и
          готовить себе еду.
        </p>
      </div>
      <div class="history__stats">
        <div class="history__stats-item">
          93 <span>Напитки</span>
        </div>
        <div class="history__stats-item">
          206 <span>Еда</span>
        </div>
        <div class="history__stats-item">
          71 <span>Закуски</span>
        </div>
      </div>
    </div>


    <div class="history__images">
      <img src="img/history-images.png" alt="" class="history__img">
    </div>
  </div>

</section>
