<section class="menu" id="menu">
  <div class="container">
    <h2 class="menu__title title title--light">Наше меню</h2>

    <div class="swiper menu__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide menu__slide recommendation">
          <div class="menu__slide-recommendation">Recommended</div>
          <div class="menu__slide-img">
            <img src="img/menu_01.svg" alt="Бургер!">
            <div class="menu__slide-price">420</div>
          </div>
          <h3 class="menu__slide-title">Гамбургер макси</h3>
          <div class="menu__slide-descr">Максимально толстый
            слой мяса
          </div>
          <a href="#" class="menu__slide-btn btn btn-reset">Заказать</a>
        </div>
        <div class="swiper-slide menu__slide ">
          <div class="menu__slide-recommendation">Recommended</div>
          <div class="menu__slide-img">
            <img src="img/menu_01.svg" alt="Бургер!">
            <div class="menu__slide-price">420</div>
          </div>
          <h3 class="menu__slide-title">Гамбургер макси</h3>
          <div class="menu__slide-descr">Максимально толстый
            слой мяса
          </div>
          <a href="#" class="menu__slide-btn btn btn-reset">Заказать</a>
        </div>
        <div class="swiper-slide menu__slide ">
          <div class="menu__slide-recommendation">Recommended</div>
          <div class="menu__slide-img">
            <img src="img/menu_01.svg" alt="Бургер!">
            <div class="menu__slide-price">420</div>
          </div>
          <h3 class="menu__slide-title">Гамбургер макси</h3>
          <div class="menu__slide-descr">Максимально толстый
            слой мяса
          </div>
          <a href="#" class="menu__slide-btn btn btn-reset">Заказать</a>
        </div>
        <div class="swiper-slide menu__slide recommendation">
          <div class="menu__slide-recommendation">Recommended</div>
          <div class="menu__slide-img">
            <img src="img/menu_01.svg" alt="Бургер!">
            <div class="menu__slide-price">420</div>
          </div>
          <h3 class="menu__slide-title">Гамбургер макси</h3>
          <div class="menu__slide-descr">Максимально толстый
            слой мяса
          </div>
          <a href="#" class="menu__slide-btn btn btn-reset">Заказать</a>
        </div>
        <div class="swiper-slide menu__slide ">
          <div class="menu__slide-recommendation">Recommended</div>
          <div class="menu__slide-img">
            <img src="img/menu_01.svg" alt="Бургер!">
            <div class="menu__slide-price">420</div>
          </div>
          <h3 class="menu__slide-title">Гамбургер макси</h3>
          <div class="menu__slide-descr">Максимально толстый
            слой мяса
          </div>
          <a href="#" class="menu__slide-btn btn btn-reset">Заказать</a>
        </div>
        <div class="swiper-slide menu__slide ">
          <div class="menu__slide-recommendation">Recommended</div>
          <div class="menu__slide-img">
            <img src="img/menu_01.svg" alt="Бургер!">
            <div class="menu__slide-price">420</div>
          </div>
          <h3 class="menu__slide-title">Гамбургер макси</h3>
          <div class="menu__slide-descr">Максимально толстый
            слой мяса
          </div>
          <a href="#" class="menu__slide-btn btn btn-reset">Заказать</a>
        </div>
        <div class="swiper-slide menu__slide recommendation">
          <div class="menu__slide-recommendation">Recommended</div>
          <div class="menu__slide-img">
            <img src="img/menu_01.svg" alt="Бургер!">
            <div class="menu__slide-price">420</div>
          </div>
          <h3 class="menu__slide-title">Гамбургер макси</h3>
          <div class="menu__slide-descr">Максимально толстый
            слой мяса
          </div>
          <a href="#" class="menu__slide-btn btn btn-reset">Заказать</a>
        </div>
        <div class="swiper-slide menu__slide ">
          <div class="menu__slide-recommendation">Recommended</div>
          <div class="menu__slide-img">
            <img src="img/menu_01.svg" alt="Бургер!">
            <div class="menu__slide-price">420</div>
          </div>
          <h3 class="menu__slide-title">Гамбургер макси</h3>
          <div class="menu__slide-descr">Максимально толстый
            слой мяса
          </div>
          <a href="#" class="menu__slide-btn btn btn-reset">Заказать</a>
        </div>
        <div class="swiper-slide menu__slide ">
          <div class="menu__slide-recommendation">Recommended</div>
          <div class="menu__slide-img">
            <img src="img/menu_01.svg" alt="Бургер!">
            <div class="menu__slide-price">420</div>
          </div>
          <h3 class="menu__slide-title">Гамбургер макси</h3>
          <div class="menu__slide-descr">Максимально толстый
            слой мяса
          </div>
          <a href="#" class="menu__slide-btn btn btn-reset">Заказать</a>
        </div>
      </div>
    </div>
  </div>
</section>
