<section class="testimonials">
  <div class="container">
    <div class="swiper testimonials__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide testimonials__slide">
          <div class="testimonials__slide-wrapper">
            <div class="testimonials__slide-descr">
              <p>
                Я надолго запомню мой День рождения, проведённый в этом ресторане! Кусочек родной Армении!!! Отдельное
                спасибо за комплепент в виде фруктовой тарелки. Будем рекомендовать этот ресторан своим друзьям и
                родственникам также за рубежом, путешествующих в Санкт-Петербург!!!
              </p>
            </div>
            <div class="testimonials__slide-img">
              <img src="img/testimonials_01.svg" alt="Фото оставившего отзыв">
            </div>
            <span class="testimonials__slide-status">Посетитель</span>
            <span class="testimonials__slide-name">Николай</span>
          </div>
        </div>
        <div class="swiper-slide testimonials__slide">
          <div class="testimonials__slide-wrapper">
            <div class="testimonials__slide-descr">
              <p>
                Я надолго запомню мой День рождения, проведённый в этом ресторане! Кусочек родной Армении!!! Отдельное
                спасибо за комплепент в виде фруктовой тарелки. Будем рекомендовать этот ресторан своим друзьям и
                родственникам также за рубежом, путешествующих в Санкт-Петербург!!!
              </p>
            </div>
            <div class="testimonials__slide-img">
              <img src="img/testimonials_01.svg" alt="Фото оставившего отзыв">
            </div>
            <span class="testimonials__slide-status">Посетитель</span>
            <span class="testimonials__slide-name">Николай</span>
          </div>
        </div>
        <div class="swiper-slide testimonials__slide">
          <div class="testimonials__slide-wrapper">
            <div class="testimonials__slide-descr">
              <p>
                Я надолго запомню мой День рождения, проведённый в этом ресторане! Кусочек родной Армении!!! Отдельное
                спасибо за комплепент в виде фруктовой тарелки. Будем рекомендовать этот ресторан своим друзьям и
                родственникам также за рубежом, путешествующих в Санкт-Петербург!!!
              </p>
            </div>
            <div class="testimonials__slide-img">
              <img src="img/testimonials_01.svg" alt="Фото оставившего отзыв">
            </div>
            <span class="testimonials__slide-status">Посетитель</span>
            <span class="testimonials__slide-name">Николай</span>
          </div>
        </div>
      </div>


    </div>
    <div class="swiper-pagination testimonials__slider-pagination"></div>
  </div>
</section>
